* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #000;
}
h2 {
    font-size: 8em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}
h2 span {
    transition: .5s;
}
h2:hover span:nth-child(1) {
    margin-right: 10px;
}
h2:hover span:nth-child(1)::after {
    content: "'";
}
h2:hover span:nth-child(2) {
    margin-left: 40px;
}
h2:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px #fff;
}